@import "./variables"; 
@import "./footer"; 
@import "./mixins"; 


.contact_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $colorBrown;

    .contact_form_wrapper {
        background-color: $colorBrown;
        width: 50em; 
        height: 100%; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

}

.contact_h1 {
    text-align: center;
    color: $colorWhite; 
    background-color: $colorBrown;
}

/* BILD PÅ KONTAKTSIDAN - OFFICE BUILDING */ 

.image_wrapper {
    width: 50%; 
    height: 50vh; 
    margin-top: 1em; 
    border-radius: 200px;
    background-image: url('Images/office_building.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;

    //@media screen and (min-width: 810px) 
    @media #{$desktop} {
        width: 60%;  
        height: 120vh; 
        border-radius: 0px;

    }
}

/* KONTAKTINFORMATIONEN I MOBILVYN */ 

.contact_us {
    display: block; 
    font-family: "Poppins";
    font-weight: lighter;
    font-size: 0.75em;
    color: $colorWhite; 

}

.contact_info {
    font-family: "Poppins";
    font-weight: lighter;
    color: $colorWhite; 
    font-size: 0.75em;
}

/* KONTAKTFORMULÄRET */ 

.bubbles_form_wrapper {
    background-color: $colorLightBeige;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 3em; 

    input {
        width: 100%;
        border-radius: 20px;
        background-color: $colorWhite; 
        padding: 1.25em; 
        border: none; 
        font-family: "Poppins";

    }
}

/* KONTAKTANLEDNING - DROPDOWN */ 

#contact_reason {
    width: 100%; 
    border-radius: 20px;
    background-color: $colorWhite;
    padding: 1.25em; 
    border: none; 
    font-family: "Poppins";

}

/* FRITEXTFÄLT */ 

textarea {
    border-radius: 20px;
    background-color: $colorWhite;
    padding: 1.25em; 
    border: none; 
    font-family: "Poppins";
}

.button_send {
    @include button ($secondaryButtonColor, $colorWhite, $buttonText, $colorLightGreen); 
    width: 100%; 
}

//@media screen and (min-width: 810px) 
@media #{$desktop} {

    .contact_us, .contact_info {
        display: none;
    } 
}

/* MEDIA QUERIE - DEKSTOP - FORMULÄRET */ 

// @media screen and (min-width: 810px) 
@media #{$desktop} {
    .bubbles_form_wrapper {
        width: 43em; 
        height: 34em; 

        textarea {
            height: 10em; 
        }
        
    }

}

// @media screen and (min-width: 810px) 
@media #{$desktop} {

.contact_wrapper {
    flex-direction: row;
    background-color: $colorBrown;
    justify-content: space-evenly; 

    }   
}

/* MEDIA QUERIE DESKTOP - OFFICE BUILDING */ 

// @media screen and (min-width: 810px) 
@media #{$desktop} {
.image_wrapper {
    display: flex;
    justify-content: baseline;
    width: 30em; 
    margin: 0px; 

}
    
    .office_building {
        width: 35em; 
        height: auto; 
        border-radius: 0px; 
        margin: 0px; 
    }

}

/* MEDIA QUERIE - DESKTOP - KONTAKTFORMULÄR */ 

// @media screen and (min-width: 810px) 
@media #{$desktop} {

.contact_form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

} 

