@import "./variables";
@import "./mixins";


.contact_wrapper {
   @include center(column);
    @media #{$desktop}{
        flex-direction: row;
    }
    h2 {
        color: $colorWhite;      
    }

    .image_wrapper {
        @include background-picture($contact-us-bg-picture, center);
        @media #{$desktop} {
            width: 47em;
            height: 100vh;
        }
        
        .contact_us_sign {
            @include background-square($highTransparencyBgDark, $colorWhite);
            margin: 3em;
            @media #{$desktop} {
                min-width: 65%;
                min-height: 30%;
                justify-content: center;
            }
            .contact_us {
                @include center(column);
                font-style: normal;
                p {
                    line-height: 0.5em;
                }
                p:nth-child(3) {
                    margin-bottom: 0.5em;
                  }
                .special_a {             
                    color: $colorWhite;
                    font-size: 12px;
                    a{
                        text-decoration: none;
                        color: $colorWhite;
                    }
                }                     
            }
        }               
    }

    .contact_form_wrapper {
        @include center (column);
        background-color: $secondaryBg;
        @media #{$desktop} {
            height: 100vh;
        }
        h2 {
            color: $seconderyHeadingColor;            
        }
        
        .bubbles_form_wrapper {
            @include center(column);
            background-color: $contactFormBg;
            border-radius: 1.5em;  
            max-width: 95%;
            margin: 1em;  
            @media #{$desktop} {
                width: 80%;
            }
            h1 {
                margin-top: 1em;
                color: $seconderyColor;
                }       
            form {  
                text-align: center;   
                input {
                    border-radius: 1.5em;
                    background-color: $colorWhite;
                    margin: 1em;
                    padding: 1.25em;
                    border: none;  
                    width: 85%      
                }
                #contact_reason, #meddelande {
                    border-radius: 1.5em;
                    background-color: $colorWhite;
                    color:#4c4d4e;
                    margin: 1em;
                    padding: 1.25em;
                    border: none;   
                    width: 85%         
                }
            }
        }
        .button_send {
            @include button ($secondaryButtonColor, $colorWhite, $buttonText, $colorLightGreen);
            width: 85%;
        }
    }

}
