//Centrerat
@mixin center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
//Bakgrunds bild
@mixin background-picture ($picture){
  background-image: url($picture);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: fit-content; 
  padding: 2em 0 2em 0;
  @include center(column);
}

// Text låda
@mixin background-square($background-color, $text-color) {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:$background-color;
  max-width: fit-content;
  max-height: fit-content;
  padding: 1em;
  margin: 1em;
  border-radius: 1.5em; 
  color: $text-color;
  @media #{$desktop}{
    max-width: 70%;
  }
  & h1 {
    margin: 1em 0;
    color: $text-color;
  } 
  & p{
    text-align: left;
    line-height: 2em;
    margin: 0.5em 1em;
  }
  & a {
    align-self: center;
  }
}

//Våra paket-kort som är en länk
// .my-box {
//   @include our-packages-link-card($secondaryBg); // Med bakgrundsfärg
// }
// .my-box-with-image {
//   @include our-packages-link-card(url('/path/to/image.jpg')); // Med bakgrundsbild
// }
@mixin our-packages-link-card ($background) {
  background: $background;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 2em;
    a {
      text-decoration: none;
      color: $colorWhite;
    }
    p {
      margin: 1em 3em;
    }
  
  .img_packages {
    display: flex;
    justify-content: space-evenly;
    
    .img_circle {
      border-radius: 50%;
      width: 5rem;
      height: 5rem;    
      @include center(row);
        &#circle_one{
          background:  url('Images/package_1.jpg');
          background-size: cover;          
        }
        &#circle_two{
          background:  url('Images/package_2.jpg');
          background-size: cover; 
        }
        &#circle_three{
          background:  url('Images/package_3.jpg');
          background-size: cover; 
        }

      @media #{$desktop} {
        width: 15rem;
        height: 15rem;
      }     
    }
  }
}
// Knappar 
@mixin button($bg-color, $border-color, $text-color, $font-family, $hover-color) {
    width: 17em;
    background-color: $bg-color;
    border: solid $border-color 1px;
    border-radius: 1em;
    margin: 1em;
    text-decoration: none;
    color: $text-color;
    font-weight: 700;
    padding: 1em;
    font-family: $font-family;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      background-color: $hover-color;
    }
}



//Ändra logga beroende på skärm
@mixin switch-logo-image($mobile-image, $desktop-image) {
  background-image: url('#{$mobile-image}'); // Använd mobilbilden som standard

  @media #{$desktop} {
    background-image: url('#{$desktop-image}'); // Använd desktopbilden när skärmbredden är minst 768px
  }
}

//Ändra bakgrund beroende på skärm
@mixin switch-background($mobile-value, $desktop-value) {
  background: $mobile-value; // Använd mobilvärdet som standard

  @media #{$desktop} {
    background: $desktop-value; // Använd desktopvärdet när skärmbredden är minst 768px
  }
}
