@import "./variables";




.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  background-color: $primaryColor;
  padding: 12px 20px;
}
.logo img {width: 230px;}

.menu {
  display: flex;
  list-style: none;
}

.menu li {padding-left: 30px;}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: $colorWhite;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: $fourthBg;
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu {
  position: absolute;
  color: $colorWhite;
  cursor: pointer;
  font-size: 2.5rem;
  display: none;
}



.menu li a:hover:after {width: 100%;}
.close-menu {
  position: absolute;
  color: $colorWhite;
  cursor: pointer;
  font-size: 2.5rem;
  display: none;
}


.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {display: none;}


@media(max-width: 810px){
  
  .nav-bar {
    position: fixed; /* Använd position: fixed på mobilen också */
  }
  
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: $primaryColor;
      font-size: 1.5rem;
      transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}



