@import "./variables";
@import"./mixins";

.background_picture {
  @include background-picture($references-bg-picture, center);
}

.why_us_sign {
  @include background-square($highTransparencyBgLight, $primaryColor);
  & .special-text  {
    // margin: 1.5em 0;
    position: relative;
    &::before {
      content: attr(data-text); /* Hämta texten från "data-text" attributet */
      font-weight: bold;  
      position: absolute;
      top: 0;
      left: 0;
    }
    .special-text::before {
      content: attr(data-text);
    }
   }
}
.logo_picture {
  // background-color: $highTransparencyBgDark;
  border-radius: 1.5em;
  width: 18rem;
  height: 16rem;
  @include switch-logo-image($mobileImage, $desktopImage);
  background-size: cover;
  @media #{$desktop}{
    width: 30rem;
    height: 13rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
  }
}
.contact-button{
  @include button($primaryButtonColor, $colorWhite, $buttonText, $primaryButtonHoverColor);
}

.reference {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  @media #{$desktop}{
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 73em;
  }

  .quote-wrapper {
    width: 16em;
    height: 16em;
    position: relative;

    .text {
      width: 100%;
      height: 100%;
      background: radial-gradient(
        ellipse at center,
        rgba(97, 109, 59, 1) 0%,
        rgba(69, 70, 42, 1) 70%,
        rgba(252, 253, 253, 0) 70.3%
      );
      position: relative;
      margin: 0;
      color: $colorWhite;

      p {
        height: 100%;
        font-size: 17px;
        line-height: 1.25;
        text-align: center;
        font-style: italic;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
      }

      &::before {
        content: "";
        width: 50%;
        height: 100%;
        float: left;
        shape-outside: polygon(
          0 0,
          98% 0,
          50% 6%,
          23.4% 17.3%,
          6% 32.6%,
          0 50%,
          6% 65.6%,
          23.4% 82.7%,
          50% 94%,
          98% 100%,
          0 100%
        );
        shape-margin: 7%;
      }

      p::before {
        content: "";
        width: 50%;
        height: 100%;
        float: right;
        shape-outside: polygon(
          2% 0%,
          100% 0%,
          100% 100%,
          2% 100%,
          50% 94%,
          76.6% 82.7%,
          94% 65.6%,
          100% 50%,
          94% 32.6%,
          76.6% 17.3%,
          50% 6%
        );
        shape-margin: 7%;
      }
    }

    blockquote span {
      width: 100%;
      position: absolute;
      bottom: 2em;
      right: -2em;
      font-size: 17px;
      text-align: center;
      font-style: italic;
      text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    }

    &::before {
      content: "\201C";
      font-size: 13em;
      position: absolute;
      top: -48px;
      left: 0;
      z-index: 1;
      font-family: sans-serif, serif;
      color: rgba($color: $colorWhite, $alpha: 0.9);
    }
  }
}












