@import "./variables";
@import"./mixins";

.background_element {
  @include background-picture('Images/primary_picture.jpg', 97vh);
}
.why_us_sign {
  @include background-square($primaryBg, $primaryColor, 80%);
  & .special-text  {
    margin: 1.5em 0;
    position: relative;
    &::before {
      content: attr(data-text); /* Hämta texten från "data-text" attributet */
      font-weight: bold;
      // color: #000; /* Anpassa textfärgen efter behov */
      position: absolute;
      top: 0;
      left: 0;
    }
    .special-text::before {
      content: attr(data-text);
    }
   }
}