@import "./variables";
@import"./mixins";

.background_picture {
  @include background-picture('Images/package_3.jpg');
}
.why_us_sign {
  @include background-square($primaryBg, $primaryColor);
  & .special-text  {
    margin: 1.5em 0;
    position: relative;
    &::before {
      content: attr(data-text); /* Hämta texten från "data-text" attributet */
      font-weight: bold;
      // color: #000; /* Anpassa textfärgen efter behov */
      position: absolute;
      top: 0;
      left: 0;
    }
    .special-text::before {
      content: attr(data-text);
    }
   }
}
.logo_picture {
  max-width: 17,75em;
  max-height: 17em;
  background-color: rgba($color: $primaryColor, $alpha: 0.7);
}