@import "./variables";
@import "./mixins";

.background_element {
  @include background-picture($home-bg-picture, center); 
}
.welcome_sign {
  @include background-square($highTransparencyBgWhite, $primaryColor);  
  p:last-child {
    display: none;
  }

  @media #{$desktop}{
    p:last-child {
      display: block;
    }
  }
}
.package_link_card{
  @include our-packages-link-card($secondaryBg);
}

