@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');



//Rubriker - storlek
$headingText: 62px; 

// Brödtext - storlek
$bodyText: 32px; 


// Loggor
$mobileImage: "Images/light-flower.png";
$desktopImage: "Images/light-logo.png";

//Våra paket bakgrund
$colorbackground: #BC6C25;
$imagebackground: "Images/primary_picture.jpg";


//-------- FÄRGVARIABLER --------------

// Färger - primära
$primaryColor: #45462A; 
$colorWhite: #FEFAE0; 

// Bakgrund
$primaryBg: #FEFAE0; 
$secondaryBg: #BC6C25; 
$highTransparencyBgDark: rgba(69, 70, 42, 0.8);
$highTransparencyBgWhite: rgba(254, 250, 224, 0.8);
$highTransparencyBgLight: rgba(254, 250, 225, 0.8);



// Knappar 
$primaryButtonColor: #45462A;
$primaryButtonBorderColor:#FEFAE0;
$primaryButtonHoverColor:#606C38;
$secondaryButtonColor: #BC6C25; 
$buttonText: "Poppins";

// Färger - sekundära
$colorBrown: #BC6C25; 
$colorLightBeige: #EFDCAC; 
$colorBeige: #D4A373; 

// Färger - accent (används i t.ex. footern)
$colorLightGreen: #606C38; 

// Footer
$footerColor: #45462A;
$footerText: #FEFAE0; 

// Header
$headerColor: #45462A;
$headerText:  #FEFAE0; 

// Media query
$desktop: "screen and (min-width: 1000px)";

