@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

//Rubriker - storlek
$headingText: 62px; 
$headingColor: #BC6C25;
$seconderyHeadingColor: #FEFAE0;

// Brödtext - storlek
$bodyText: 32px; 

// Loggor
$mobileImage: "Images/light-flower.png";
$desktopImage: "Images/logo2.svg";

//Våra paket kort bakgrund
$colorbackground: #BC6C25;
$imagebackground: "Images/primary_picture.jpg";
$fontSizeLinkCardDesktop: 2em;

// Färger - primära
$primaryColor: #45462A; 
$seconderyColor: #BC6C25; 
$colorWhite: #FEFAE0; 

// Bakgrund
$primaryBg: #FEFAE0; 
$secondaryBg: #BC6C25; 
$thirdBg:#EFDCAC;
$fourthBg: #D4A373;
$highTransparencyBgDark: rgba(69, 70, 42, 0.8);
$highTransparencyBgWhite: rgba(254, 250, 224, 0.8);
$highTransparencyBgLight: rgba(254, 250, 225, 0.8);
$contactFormBg: #EFDCAC; 
//Bakgrundsbilder
$about-us-bg-picture: "Images/primary_picture.jpg";
$contact-us-bg-picture: "Images/office_building.jpg";
$our-packages-bg-picture: "Images/our_packages_cropped.jpg";
$references-bg-picture: "Images/office-jungle.jpg";
$home-bg-picture: "Images/office-jungle.jpg";

// Knappar 
$primaryButtonColor: #45462A;
$primaryButtonBorderColor:#FEFAE0;
$primaryButtonHoverColor:#606C38;
$secondaryButtonColor: #BC6C25; 
$secondaryButtonHoverColor:#e2a96d;
$buttonText: "Poppins";

// Footer
$footerColor: #45462A;
$footerTextPrimaryColor:#FEFAE0;
$footerTextColor: #606C38; 

// Media query
$desktop: "screen and (min-width: 750px)";

