
//Rubriker - storlek
$headingText: 62px; 

// Brödtext - storlek
$bodyText: 32px; 



//-------- FÄRGVARIABLER --------------

// Färger - primära
$colorGreen: #45462A; 
$colorWhite: #FEFAE0; 

// Färger - sekundära
$colorBrown: #BC6C25; 
$colorLightBeige: #EFDCAC; 
$colorBeige: #D4A373; 

// Färger - accent (används i t.ex. footern)
$colorLightGreen: #606C38; 