@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  background-color: #45462A;
  padding: 12px 20px;
}

.logo img {
  width: 230px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #FEFAE0;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: #D4A373;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu {
  position: absolute;
  color: #FEFAE0;
  cursor: pointer;
  font-size: 2.5rem;
  display: none;
}

.menu li a:hover:after {
  width: 100%;
}

.close-menu {
  position: absolute;
  color: #FEFAE0;
  cursor: pointer;
  font-size: 2.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 810px) {
  .nav-bar {
    position: fixed; /* Använd position: fixed på mobilen också */
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #45462A;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu, .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}
footer {
  font-family: "Poppins";
  font-size: 0.7em;
  background-color: #45462A;
  color: #FEFAE0;
  height: 100px;
  width: auto;
}
footer .footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer_wrapper .logo_footer {
  height: 100%;
  width: auto;
  text-align: center;
  display: relative;
}
footer .footer_wrapper .logo_footer a {
  color: #FEFAE0;
}

/* MENY MED LOGGA OVANFÖR */
.menu_footer {
  width: 300px;
  height: 120px;
  text-align: left;
  margin-left: 0px;
}
.menu_footer p {
  color: #606C38;
  font-weight: 200;
  display: inline;
}
.menu_footer .copyright {
  margin-left: 40px;
}
.menu_footer a {
  color: #FEFAE0;
}

/* LOGGA */
.footer_wrapper .menu_footer .logo_footer {
  height: 40%;
  width: auto;
  margin-left: 30px;
}

/* TEXTENS AVSTÅND TILL FOOTERN */
.contact_footer {
  text-align: right;
  margin-right: 40px;
  margin-top: 30px;
  visibility: hidden;
}
@media screen and (min-width: 750px) {
  .contact_footer {
    visibility: visible;
  }
}

.adress_footer {
  margin-left: 40px;
  margin-top: 20px;
  visibility: hidden;
}
@media screen and (min-width: 750px) {
  .adress_footer {
    visibility: visible;
  }
}

/* PAKETEN - MOBILE FIRST */
.package_site_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FEFAE0;
}

.packages_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}
.packages_wrapper .packages_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EFDCAC;
  width: 20em;
  height: 12em;
  border-radius: 50px;
}
.packages_wrapper .packages_list .packages_top {
  background-color: #BC6C25;
  width: 20em;
  height: 0.5em;
  border-radius: 50px 50px 0px 0px;
  padding: 40px;
}
.packages_wrapper .packages_list .packages_top h2 {
  color: #FEFAE0;
}

/* LYXPAKETET */
.packages_list_lux {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D4A373;
  height: 18em;
  width: 20em;
  border-radius: 50px;
}
.packages_list_lux .packages_top {
  background-color: #BC6C25;
  width: 20em;
  height: 0.5em;
  border-radius: 50px 50px 0px 0px;
  padding: 40px;
}
.packages_list_lux .packages_top h2 {
  color: #FEFAE0;
}

.lux_package {
  list-style-type: none;
  color: #FEFAE0;
}
.lux_package .fa-regular {
  margin: 0 0.5em 0 0;
}

.star_checkbox {
  display: flex;
  justify-content: space-evenly;
  background-color: #FEFAE0;
  border-radius: 30px;
  padding: 10px;
  width: 10em;
  box-shadow: 2px 2px 2px #BC6C25;
}
.star_checkbox .checked {
  color: orange;
  text-align: center;
}

.invisible_button {
  width: 17em;
  background-color: #45462A;
  border-radius: 1em;
  margin: 1em;
  text-decoration: none;
  color: #FEFAE0;
  font-weight: 700;
  padding: 1em;
  font-family: "Poppins";
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 3em;
  padding: 0;
  display: none;
}
.invisible_button:hover {
  background-color: #606C38;
}

.offert-button {
  width: 17em;
  background-color: #45462A;
  border-radius: 1em;
  margin: 1em;
  text-decoration: none;
  color: #FEFAE0;
  font-weight: 700;
  padding: 1em;
  font-family: "Poppins";
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-self: center;
}
.offert-button:hover {
  background-color: #606C38;
}
@media screen and (min-width: 750px) {
  .offert-button {
    display: none;
  }
}

/* DESKTOP MEDIA QUERIE */
@media screen and (min-width: 750px) {
  .package_site_wrapper {
    background-image: url("/Images/our_packages.jpg");
    background-position-y: 74em;
    background-size: cover;
    height: 77vh;
  }
  .package_site_wrapper .header_packages_wrapper {
    background-color: rgba(254, 250, 225, 0.8);
    border-radius: 1.5em;
  }
  .package_site_wrapper .packages_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3em;
    padding: 2em;
    border-radius: 1.5em;
    margin-top: 0;
    max-width: 100%;
  }
  .package_site_wrapper .packages_wrapper .packages_list {
    background-color: #EFDCAC;
    width: 20em;
    height: 17em;
    border-radius: 50px;
  }
  .package_site_wrapper .packages_wrapper .packages_list_lux {
    height: 22em;
  }
  .package_site_wrapper .packages_wrapper .invisible_button {
    display: flex;
  }
}
/* BILD */
.img_wrapper {
  display: flex;
  justify-content: center;
  background-image: url("Images/our_packages_cropped.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 750px) {
  .img_wrapper {
    background-position: center;
  }
}
@media screen and (min-width: 750px) {
  .img_wrapper {
    display: none;
  }
}

.background_element {
  background-image: url("Images/primary_picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome_sign {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(69, 70, 42, 0.8);
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 1em;
  margin: 1em;
  border-radius: 1.5em;
  color: #FEFAE0;
}
@media screen and (min-width: 750px) {
  .welcome_sign {
    max-width: 70%;
  }
}
.welcome_sign h1 {
  margin: 1em 0;
  color: #FEFAE0;
}
.welcome_sign p {
  text-align: left;
  line-height: 2em;
  margin: 0.5em 1em;
}
.welcome_sign a {
  align-self: center;
}
.welcome_sign p:last-child {
  display: none;
}
@media screen and (min-width: 750px) {
  .welcome_sign p:last-child {
    display: block;
  }
}

.package_link_card {
  background: #BC6C25;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 2em;
}
.package_link_card h2 {
  color: #FEFAE0;
}
.package_link_card a {
  text-decoration: none;
  color: #FEFAE0;
}
.package_link_card p {
  margin: 1em 3em;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .package_link_card p {
    font-size: 1.5em;
  }
}
.package_link_card .img_packages {
  display: flex;
  justify-content: space-evenly;
}
.package_link_card .img_packages .img_circle {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.package_link_card .img_packages .img_circle#circle_one {
  background: url("Images/package_1.jpg");
  background-size: cover;
  background-position: center;
}
.package_link_card .img_packages .img_circle#circle_two {
  background: url("Images/package_2.jpg");
  background-size: cover;
  background-position: left;
}
.package_link_card .img_packages .img_circle#circle_three {
  background: url("Images/package_3.jpg");
  background-size: cover;
  background-position: bottom;
}
@media screen and (min-width: 750px) {
  .package_link_card .img_packages .img_circle {
    width: 15rem;
    height: 15rem;
  }
}

.background_picture {
  background-image: url("Images/bg_picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.why_us_sign {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(254, 250, 225, 0.8);
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 1em;
  margin: 1em;
  border-radius: 1.5em;
  color: #45462A;
}
@media screen and (min-width: 750px) {
  .why_us_sign {
    max-width: 70%;
  }
}
.why_us_sign h1 {
  margin: 1em 0;
  color: #45462A;
}
.why_us_sign p {
  text-align: left;
  line-height: 2em;
  margin: 0.5em 1em;
}
.why_us_sign a {
  align-self: center;
}
.why_us_sign .special-text {
  position: relative;
}
.why_us_sign .special-text::before {
  content: attr(data-text); /* Hämta texten från "data-text" attributet */
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.why_us_sign .special-text .special-text::before {
  content: attr(data-text);
}

.logo_picture {
  border-radius: 1.5em;
  width: 18rem;
  height: 16rem;
  background-image: url("Images/light-flower.png");
  background-size: cover;
}
@media screen and (min-width: 750px) {
  .logo_picture {
    background-image: url("Images/logo2.svg");
  }
}
@media screen and (min-width: 750px) {
  .logo_picture {
    width: 30rem;
    height: 13rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contact-button {
  width: 17em;
  background-color: #45462A;
  border-radius: 1em;
  margin: 1em;
  text-decoration: none;
  color: #FEFAE0;
  font-weight: 700;
  padding: 1em;
  font-family: "Poppins";
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}
.contact-button:hover {
  background-color: #606C38;
}

.reference {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media screen and (min-width: 750px) {
  .reference {
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 143vh;
  }
}
.reference .quote-wrapper {
  width: 16em;
  height: 16em;
  position: relative;
}
.reference .quote-wrapper .text {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgb(97, 109, 59) 0%, rgb(69, 70, 42) 70%, rgba(252, 253, 253, 0) 70.3%);
  position: relative;
  margin: 0;
  color: #FEFAE0;
}
.reference .quote-wrapper .text p {
  height: 100%;
  font-size: 17px;
  line-height: 1.25;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}
.reference .quote-wrapper .text::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(0 0, 98% 0, 50% 6%, 23.4% 17.3%, 6% 32.6%, 0 50%, 6% 65.6%, 23.4% 82.7%, 50% 94%, 98% 100%, 0 100%);
  shape-margin: 7%;
}
.reference .quote-wrapper .text p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(2% 0%, 100% 0%, 100% 100%, 2% 100%, 50% 94%, 76.6% 82.7%, 94% 65.6%, 100% 50%, 94% 32.6%, 76.6% 17.3%, 50% 6%);
  shape-margin: 7%;
}
.reference .quote-wrapper blockquote span {
  width: 100%;
  position: absolute;
  bottom: 2em;
  right: -2em;
  font-size: 17px;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}
.reference .quote-wrapper::before {
  content: "“";
  font-size: 13em;
  position: absolute;
  top: -48px;
  left: 0;
  z-index: 1;
  font-family: sans-serif, serif;
  color: rgba(254, 250, 224, 0.9);
}

.background_about_us {
  background-image: url("/Images/about_us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .background_about_us {
    height: 45vh;
  }
}

.about-us-sign {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(254, 250, 225, 0.8);
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 1em;
  margin: 1em;
  border-radius: 1.5em;
  color: #45462A;
}
@media screen and (min-width: 750px) {
  .about-us-sign {
    max-width: 70%;
  }
}
.about-us-sign h1 {
  margin: 1em 0;
  color: #45462A;
}
.about-us-sign p {
  text-align: left;
  line-height: 2em;
  margin: 0.5em 1em;
}
.about-us-sign a {
  align-self: center;
}
@media screen and (min-width: 750px) {
  .about-us-sign {
    padding: 1em 5em;
    align-items: center;
  }
}
.about-us-sign .catchphrase {
  margin: 0;
  font-style: italic;
}
.about-us-sign .catchphrase, .about-us-sign em {
  font-weight: 600;
  font-size: 30px;
}

.about_us_section {
  background-color: #efdcac;
  padding: 1.5em;
  width: auto;
}
.about_us_section .about_us_content {
  color: #45462A;
  max-width: 40em;
  margin: 0 auto;
}
.about_us_section .about_us_content h2 {
  margin-bottom: 10px;
}
.about_us_section h2 {
  color: #45462A;
}

.coworker-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  max-width: 100%;
  justify-content: center;
  background-color: #efdcac;
}

/* Define the common styles for coworker cards */
.coworker {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  height: 120px; /* */
  background-color: rgba(254, 250, 224, 0.8);
  width: 29em;
  color: #45462A;
}

.coworker-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.coworker-info2 {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

/* Styles to make the user image circular */
.coworker img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 15px;
}

/* Styles for the "Read More" content */
.read-more-content {
  display: none;
  padding: 10px;
  flex-direction: column; /* Make the content stack vertically */
}

.read-more-expanded {
  display: block;
}

.coworker:has(.read-more-expanded) {
  height: auto;
}

/* Display the "Read More" content when expanded */
.coworker .read-more-icon.rotated + .read-more-content {
  display: flex;
}

/* Styles for the "Read More" arrow container */
.read-more-arrow {
  width: 20px; /* Set a fixed width for the arrow container */
}

/* Styles for the "Read More" arrow icon */
.read-more-icon {
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s; /* Add a transition for smooth rotation */
}

/* Styles for the rotated "Read More" arrow */
.read-more-icon.rotated {
  transform: rotate(180deg);
}

.package_link_card_about_us {
  background: "Images/primary_picture.jpg";
  background: url("/Images/primary_picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 2em;
}
@media screen and (min-width: 750px) {
  .package_link_card_about_us {
    background: #BC6C25;
  }
}
.package_link_card_about_us h2 {
  color: #FEFAE0;
}
.package_link_card_about_us a {
  text-decoration: none;
  color: #FEFAE0;
}
.package_link_card_about_us p {
  margin: 1em 3em;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .package_link_card_about_us p {
    font-size: 1.5em;
  }
}
.package_link_card_about_us .img_packages {
  display: flex;
  justify-content: space-evenly;
}
.package_link_card_about_us .img_packages .img_circle {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.package_link_card_about_us .img_packages .img_circle#circle_one {
  background: url("Images/package_1.jpg");
  background-size: cover;
  background-position: center;
}
.package_link_card_about_us .img_packages .img_circle#circle_two {
  background: url("Images/package_2.jpg");
  background-size: cover;
  background-position: left;
}
.package_link_card_about_us .img_packages .img_circle#circle_three {
  background: url("Images/package_3.jpg");
  background-size: cover;
  background-position: bottom;
}
@media screen and (min-width: 750px) {
  .package_link_card_about_us .img_packages .img_circle {
    width: 15rem;
    height: 15rem;
  }
}

.contact_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #BC6C25;
  padding: 3em 0 0 0;
}
.contact_wrapper .image_wrapper {
  background-image: url("Images/office_building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16em;
  height: 50vh;
  border-radius: 1.5em;
}
@media screen and (min-width: 750px) {
  .contact_wrapper .image_wrapper {
    width: 60%;
    height: 120vh;
    border-radius: 0px;
  }
}
.contact_wrapper .contact_form_wrapper {
  background-color: #BC6C25;
  width: 50em;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact_h1 {
  text-align: center;
  color: #FEFAE0;
  background-color: #BC6C25;
}

/* BILD PÅ KONTAKTSIDAN - OFFICE BUILDING */
/* KONTAKTINFORMATIONEN I MOBILVYN */
.contact_us {
  display: block;
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 0.75em;
  color: #FEFAE0;
}

.contact_info {
  font-family: "Poppins";
  font-weight: lighter;
  color: #FEFAE0;
  font-size: 0.75em;
}

/* KONTAKTFORMULÄRET */
.bubbles_form_wrapper {
  background-color: #EFDCAC;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding: 3em;
}
.bubbles_form_wrapper input {
  width: 100%;
  border-radius: 20px;
  background-color: #FEFAE0;
  padding: 1.25em;
  border: none;
  font-family: "Poppins";
}

/* KONTAKTANLEDNING - DROPDOWN */
#contact_reason {
  width: 100%;
  border-radius: 20px;
  background-color: #FEFAE0;
  padding: 1.25em;
  border: none;
  font-family: "Poppins";
}

/* FRITEXTFÄLT */
textarea {
  border-radius: 20px;
  background-color: #FEFAE0;
  padding: 1.25em;
  border: none;
  font-family: "Poppins";
}

.button_send {
  width: 17em;
  background-color: #BC6C25;
  border-radius: 1em;
  margin: 1em;
  text-decoration: none;
  color: #FEFAE0;
  font-weight: 700;
  padding: 1em;
  font-family: "Poppins";
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.button_send:hover {
  background-color: #606C38;
}

@media screen and (min-width: 750px) {
  .contact_us, .contact_info {
    display: none;
  }
}
/* MEDIA QUERIE - DEKSTOP - FORMULÄRET */
@media screen and (min-width: 750px) {
  .bubbles_form_wrapper {
    width: 43em;
    height: 34em;
  }
  .bubbles_form_wrapper textarea {
    height: 10em;
  }
}
@media screen and (min-width: 750px) {
  .contact_wrapper {
    flex-direction: row;
    background-color: #BC6C25;
    justify-content: space-evenly;
  }
}
/* MEDIA QUERIE DESKTOP - OFFICE BUILDING */
@media screen and (min-width: 750px) {
  .image_wrapper {
    display: flex;
    justify-content: baseline;
    width: 30em;
    margin: 0px;
  }
  .office_building {
    width: 35em;
    height: auto;
    border-radius: 0px;
    margin: 0px;
  }
}
/* MEDIA QUERIE - DESKTOP - KONTAKTFORMULÄR */
@media screen and (min-width: 750px) {
  .contact_form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  font-size: 1em;
  padding-top: 100px;
  /* display: flex;
  @include center (column); 
  &> header {
      display: block;
  }

  &> footer {
      display: block;
  } */
}
body h1 {
  font-family: "DM Serif Display";
  font-size: 32px;
  color: #BC6C25;
  text-align: center;
}
body h2 {
  font-size: 24px;
  color: #BC6C25;
  text-align: center;
}
body h3 {
  font-family: "DM Serif Display";
  color: #BC6C25;
  text-align: center;
}
body p {
  text-align: left;
}/*# sourceMappingURL=style.css.map */