* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  position: relative;
  background-color: #45462A;
  padding: 12px 20px;
}

.logo img {
  width: 230px;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #FEFAE0;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: #D4A373;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu {
  position: absolute;
  color: #FEFAE0;
  cursor: pointer;
  font-size: 2.5rem;
  display: none;
}

.menu li a:hover:after {
  width: 100%;
}

.close-menu {
  position: absolute;
  color: #FEFAE0;
  cursor: pointer;
  font-size: 2.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 810px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #45462A;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu, .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}
.background_element {
  background-image: url("Images/primary_picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  padding: 1em 0 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome_sign {
  text-align: center;
  background-color: rgba(69, 70, 42, 0.8);
  max-width: 80%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 1em;
  border-radius: 20px;
  color: #FEFAE0;
}
.welcome_sign h1 {
  margin: 0;
}

.package_link_card {
  background: #BC6C25;
  background-size: cover;
  background-repeat: no-repeat;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 20px;
}
.package_link_card a {
  text-decoration: none;
  color: #FEFAE0;
}
.package_link_card p {
  margin: 0 3em;
}
.package_link_card .img_packages {
  display: flex;
  justify-content: space-around;
}
.package_link_card .img_packages .img_circle {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -o-object-fit: contain;
     object-fit: contain;
}
.package_link_card .img_packages .img_circle img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */